<div data-role="header" class="header">
  <nav data-role="navbar" >
  <ul>
    <li><a href="https://ucsb-teaching-cs.github.io" class="ui-btn-active">{{site.title}}</a></li>
    <li><a href="/" >{{site.course} {{site.qtr}}</a></li>
    <li><a href="https://ucsb-cs190j-m18.github.io" >{{site.course}} M18</a></li>
    <li><a href="https://ucsb-cs190j-s18.github.io" >{{site.course}} S18</a></li>
  </ul>
 </nav>

{% if page.layout == "hwk" %}
 <nav data-role="navbar">
  <ul class="hwk-nav-bar">
  {% for asn in site.hwk %}
    <li><a href="{{asn.url}}">{{asn.num}}</a></li>
  {% endfor %}
  </ul>
 </nav>
{% endif %}
</div>
